*{
    padding: 0;
    margin: 0;
}
.main{
    /* min-height: 0px;
    min-width: 0px; */
    height: 639px;
    width: 55.85%;
    /* border: 1px solid black; */
    margin-left: 20%;
    display: flex;
     flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;

}
.child{
    border: 1px solid black;
    width: 116px;
    height: 116px;
    border-radius: 5px;
    
    
}